body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
}



header {
  background-color: #ffffff;
  /* border: 1px solid black; */
}

footer {
  background-color: rgb(73, 15, 220);
}

.boven {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.boven .menuLeft {
  padding: 10px;
  display: flex;
  gap: 8px;
}

.boven .menuRight {
  display: flex;
  gap: 8px;
  padding-right: 20px;
  padding-top: 10px;
}

.onder {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#zoek {
  display: flex;
  gap: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 40%;
}

#logo {
  height: 50px;
}

#logo img {
  height: 100%;
}
.productDropbtn {
  border-radius: 5px;
  background-color: #ffffff;
 color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.productDropdown {
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
}

.productDropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.productDropdown:hover .productDropdown-content {
  display: block;
}


.productDropdown-content a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* f */
.dropbtn {
  border-radius: 5px;
  background-color: #ffffff;
 color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ffffff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff;}

#winkelmand {
  background-color: #4c2cffd5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
}
#winkelmand:hover {
  background-color: #0056b3; 
}
#container {
  width:1000px;
  background-color: aqua;
  display: flex;
}
.menu1{
  width: 25%;
  background-color: #ffffff;
  float: left;
 
}
.menu1Left{
 
  background-color: #0056b3;
  border:1px solid #000000;
margin: 10px;
padding: 10px;
margin: auto;
margin-top: 20px;
}
.nutri-score {
  display: flex;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.nutri-score div {
  
  width: 45px;
  height: 35px;
  line-height: 30px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 5px;
  transition: transform 0.2s, opacity 0.2s;
}

.A { background-color: #008000; } 
.B { background-color: #86C440; } 
.C { background-color: #F5A623; } 
.D { background-color: #DC582A; } 
.E { background-color: #D61D1D; } 


.selected {
  transform: scale(1.1);
  border: 3px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.productenvergelijken{
  margin-left: 20px;
  justify-content: center;
}

.productenvergelijken#button1{
  background-color: #2cffb5d5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
}