/* Algemene stijl */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.boven{
    background-color: #d69e9e;
    display: flex;
    justify-content: space-between;

}
.menuLeft{
    padding: 10px;
    display: flex;
justify-content: flex-start;
align-items: center;
    gap: 8px;
    height: 10%;
    width: 50%;
    
}
.menuRight {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-right: 20px;
    width: 50%;
  
  }
  #logo {
    height: 50px;
  }
  
  #logo img {
    height: 100%;
  }
/* Formulier container */
#formulier {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulier velden */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Fieldsets */
fieldset {
    border: none;
    margin-bottom: 15px;
}

/* Knoppen */
input[type="submit"], input[type="reset"] {
    background-color: #4D365B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #37274A;
}


#footerboven {
  
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  
}
.footerboven {
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
}

#footerbeneden{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
