body {
  display: flex; /* Flexbox layout voor de body */
  justify-content: center; /* Center inhoud horizontaal */
  align-items: center; /* Center inhoud verticaal */
  flex-direction: column; /* Kolomlay-out voor de body */
  margin: 0; /* Geen marge voor de body */
  padding: 0; /* Geen padding voor de body */
  background-color: #ffffff; /* Achtergrondkleur voor de body */
}

a {
  color: rgb(0, 0, 0); /* Link color */
  text-decoration: none; /* Removes underline from links */
}

.navbar {
  justify-content: center; /* Center the navigation links */
  display: flex;
  width: 100%;
}

.nav-link {
  font-weight: bold; /* Bold text for navigation links */
  font-size: 13px; /* Font size for navigation links */
  text-transform: uppercase; /* Uppercase text for navigation links */
  text-decoration: none; /* Removes underline from navigation links */
  color: #031d44; /* Color for navigation links */
  padding: 1%; /* Padding around navigation links */
  margin: 1%; /* Margin around navigation links */
  display: inline-block; /* Display links inline */
  position: relative; /* Position for hover effects */
  opacity: 0.75; /* Initial opacity for navigation links */
}

.nav-link:hover {
  opacity: 1; /* Full opacity on hover */
}

.nav-link::before {
  transition: 300ms; /* Transition effect for hover */
  height: 5px; /* Height of the hover effect */
  content: ""; /* Empty content for the pseudo-element */
  position: absolute; /* Positioning for the hover effect */
  background-color: #031d44; /* Color of the hover effect */
}

.nav-link-ltr::before {
  width: 0%; /* Initial width of the hover effect */
  bottom: 0px; /* Position at the bottom */
}

.nav-link-ltr:hover::before {
  width: 100%; /* Full width on hover */
}

.nav-link-fade-up::before {
  width: 100%; /* Full width for fade-up effect */
  bottom: 5px; /* Position at the bottom */
  opacity: 0; /* Initial opacity for fade-up effect */
}

.nav-link-fade-up:hover::before {
  bottom: 10px; /* Move up on hover */
  opacity: 1; /* Full opacity on hover */
}

.nav-link-grow-up::before {
  height: 0%; /* Initial height for grow-up effect */
  width: 100%; /* Full width for grow-up effect */
  bottom: 0px; /* Position at the bottom */
}

.nav-link-grow-up:hover::before {
  height: 10px; /* Height on hover */
}

header {
  background-color: #3fbcff; /* Achtergrondkleur voor de header */
}

.boven {
  display: flex; /* Flexbox layout voor de bovenste sectie */
  justify-content: space-between; /* Ruimte tussen linker en rechter menu */
  align-items: center; /* Center items verticaal */
}

.boven .menuLeft {
  padding: 10px; /* Padding voor het linker menu */
  display: flex; /* Flexbox layout voor het linker menu */
  gap: 8px; /* Ruimte tussen items in het linker menu */
}

.boven .menuRight {
  display: flex; /* Flexbox layout voor het rechter menu */
  gap: 8px; /* Ruimte tussen items in het rechter menu */
  padding-right: 20px; /* Padding aan de rechterkant */
  padding-top: 10px; /* Padding aan de bovenkant */
}

.onder {
  display: flex; /* Flexbox layout voor de ondersectie */
  gap: 10px; /* Ruimte tussen items in de ondersectie */
  justify-content: space-between; /* Ruimte tussen items */
  align-items: center; /* Center items verticaal */
}

#zoek {
  display: flex; /* Flexbox layout voor de zoekbalk */
  gap: 5px; /* Ruimte tussen zoekbalk en knop */
  padding: 10px; /* Padding voor de zoekbalk */
  border: 1px solid #ccc; /* Rand voor de zoekbalk */
  border-radius: 5px; /* Afgeronde hoeken voor de zoekbalk */
  background-color: #f9f9f9; /* Achtergrondkleur voor de zoekbalk */
  width: 40%; /* Breedte van de zoekbalk */
}

#logo {
  height: 50px; /* Hoogte van het logo */
}

#logo img {
  height: 100%; /* Afbeelding neemt volledige hoogte van het logo in */
}

.productDropbtn {
  border-radius: 5px; /* Afgeronde hoeken voor de product dropdown knop */
  background-color: #ffffff00; /* Transparante achtergrond */
  color: #000000; /* Tekstkleur voor de knop */
  padding: 16px; /* Padding voor de knop */
  font-size: 16px; /* Tekstgrootte voor de knop */
  border: none; /* Geen rand voor de knop */
}

.productDropdown {
  border-radius: 10px; /* Afgeronde hoeken voor de dropdown */
  background-color: #ffffff00; /* Transparante achtergrond */
  position: relative; /* Positionering voor de dropdown */
  display: inline-block; /* Toon inline */
}

.productDropdown-content {
  border-radius: 10px; /* Afgeronde hoeken voor dropdown inhoud */
  display: none; /* Verborgen standaard */
  position: absolute; /* Positionering voor dropdown inhoud */
  background-color: #ffffff; /* Achtergrondkleur voor dropdown inhoud */
  min-width: 10%; /* Minimale breedte voor dropdown inhoud */
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2); /* Schaduweffect */
  z-index: 1; /* Laagvolgorde */
}

.productDropdown-content a:hover {
  background-color: #ffffff00; /* Achtergrondkleur bij hover */
}

.productDropdown:hover .productDropdown-content {
  display: block; /* Toon dropdown inhoud bij hover */
}

.productDropdown:hover .productDropbtn {
  background-color: #ffffff00; /* Achtergrondkleur bij hover */
}

.productDropdown-content a {
  border-radius: 10px; /* Afgeronde hoeken voor dropdown links */
  color: black; /* Tekstkleur voor dropdown links */
  padding: 12px 16px; /* Padding voor dropdown links */
  text-decoration: none; /* Verwijder onderstreping van dropdown links */
  display: block; /* Toon links als blokelementen */
}

.dropbtn {
  border-radius: 5px; /* Afgeronde hoeken voor de dropdown knop */
  background-color: #ffffff00; /* Transparante achtergrond */
  color: #000000; /* Tekstkleur voor de knop */
  padding: 16px; /* Padding voor de knop */
  font-size: 16px; /* Tekstgrootte voor de knop */
  border: none; /* Geen rand voor de knop */
}

.dropdown {
  border-radius: 10px; /* Afgeronde hoeken voor de dropdown */
  background-color: #ffffff00; /* Transparante achtergrond */
  position: relative; /* Positionering voor de dropdown */
  display: inline-block; /* Toon inline */
}

.dropdown-content {
  border-radius: 10px; /* Afgeronde hoeken voor dropdown inhoud */
  display: none; /* Verborgen standaard */
  position: absolute; /* Positionering voor dropdown inhoud */
  background-color: #ffffff; /* Achtergrondkleur voor dropdown inhoud */
  min-width: 10%; /* Minimale breedte voor dropdown inhoud */
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2); /* Schaduweffect */
  z-index: 1; /* Laagvolgorde */
}

.dropdown-content a {
  border-radius: 10px; /* Afgeronde hoeken voor dropdown links */
  color: black; /* Tekstkleur voor dropdown links */
  padding: 12px 16px; /* Padding voor dropdown links */
  text-decoration: none; /* Verwijder onderstreping van dropdown links */
  display: block; /* Toon links als blokelementen */
}

.dropdown-content a:hover {
  background-color: #ffffff00; /* Achtergrondkleur bij hover */
}

.dropdown:hover .dropdown-content {
  display: block; /* Toon dropdown inhoud bij hover */
}

.dropdown:hover .dropbtn {
  background-color: #ffffff00; /* Achtergrondkleur bij hover */
}

#winkelmand {
  background-color: #4c2cff56; /* Achtergrondkleur voor de winkelwagenknop */
  color: white; /* Tekstkleur voor de knop */
  border: none; /* Geen rand voor de knop */
  padding: 9px; /* Padding voor de knop */
  margin-right: 1%;
  border-radius: 10px; /* Afgeronde hoeken voor de knop */
  font-size: 16px; /* Tekstgrootte voor de knop */
  cursor: pointer; /* Pointer cursor bij hover */
  transition: background-color 0.3s; /* Overgangseffect voor achtergrondkleur */
  justify-content: center; /* Centreer inhoud */
  display: flex;
  flex-direction: column;
  width: 10%;
}
#bagimg {
  display: flex;
  justify-content: center;
}
#bagimg img {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 20%;
}

#winkelmand:hover {
  background-color: #0056b3; /* Achtergrondkleur bij hover voor de winkelmand knop */
}
#total-price {
  display: flex;
  justify-content: center;
}

#cart-message {
  position: fixed; /* Vaste positie voor het winkelwagentje bericht */
  top: 50%; /* Center verticaal */
  left: 50%; /* Center horizontaal */
  transform: translate(-50%, -50%); /* Centering transformatie */
  background-color: rgba(0, 0, 0, 0.8); /* Achtergrondkleur voor het bericht */
  color: white; /* Tekstkleur voor het bericht */
  padding: 15px 25px; /* Padding voor het bericht */
  border-radius: 8px; /* Afgeronde hoeken voor het bericht */
  font-size: 18px; /* Lettergrootte voor het bericht */
  text-align: center; /* Center tekst */
  display: none; /* Verborgen standaard */
  z-index: 1000; /* Laagvolgorde voor het bericht */
}

.hidden {
  display: none; /* Klasse om elementen te verbergen */
}

#container {
  max-width: 800px; /* Maximale breedte voor de container */
  display: flex; /* Flexbox layout voor de container */
  background: white; /* Achtergrondkleur voor de container */

  border-radius: 8px; /* Afgeronde hoeken voor de container */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Schaduw voor de container */
  width: 100%; /* Volledige breedte voor de container */
  text-align: center; /* Center tekst */
}

.sidebar {
  margin-right: 1%; /* Rechtermarge voor de sidebar */
  width: 25%; /* Breedte van de sidebar */
  max-width: 250px; /* Maximale breedte voor de sidebar */
  background-color: #ffffff; /* Achtergrondkleur voor de sidebar */
}

.sidebar1 {
  background-color: #3fbcff; /* Achtergrondkleur voor sidebar items */
  border: 1px solid #000000; /* Rand voor sidebar items */
  margin: 10px auto; /* Marges voor sidebar items */
  padding: 10px; /* Padding voor sidebar items */
  padding-left: 2%; /* Linker padding voor sidebar items */
  text-align: center; /* Center tekst in sidebar items */
}

.nutri-score {
  display: flex; /* Flexbox layout voor de nutri-score */
  font-family: Arial, sans-serif; /* Lettertype voor de nutri-score */
  font-weight: bold; /* Vetgedrukte tekst voor de nutri-score */
  text-align: center; /* Centreer tekst */
  cursor: pointer; /* Pointer cursor bij hover */
}

.nutri-score div {
  width: 35%; /* Breedte voor elk nutri-score item */
  height: 35%; /* Hoogte voor elk nutri-score item */
  line-height: 30px; /* Centreer tekst verticaal */
  color: white; /* Tekstkleur voor nutri-score items */
  font-size: 20px; /* Tekstgrootte voor nutri-score items */
  border-radius: 5px; /* Afgeronde hoeken voor nutri-score items */
  margin-right: 5px; /* Ruimte tussen nutri-score items */
  margin-left: 3px; /* Geen linkermarge */
  transition: transform 0.2s, opacity 0.2s; /* Overgangseffecten */
  justify-items: center; /* Centreer items */
}

.A {
  background-color: #008000;
} /* Kleur voor score A */
.B {
  background-color: #86c440;
} /* Kleur voor score B */
.C {
  background-color: #f5a623;
} /* Kleur voor score C */
.D {
  background-color: #dc582a;
} /* Kleur voor score D */
.E {
  background-color: #d61d1d;
} /* Kleur voor score E */

.selected {
  transform: scale(1.1); /* Schaal effect voor geselecteerde nutri-score */
  border: 3px solid white; /* Rand voor geselecteerde nutri-score */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Schaduweffect voor geselecteerde nutri-score */
}

.productenvergelijken {
  margin-left: 20%; /* Linkermarge voor productvergelijking sectie */
  justify-content: center; /* Center inhoud */
}
#slidecontainer {
  background-color: #3fbcff; /* Achtergrondkleur voor de slider container */
  border: 1px solid #000000; /* Rand voor de slider container */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Kolomlayout */
  align-content: center; /* Centreer inhoud */
  justify-content: center; /* Centreer inhoud */
}

.slider {
  width: 80%; /* Volledige breedte voor de slider */
  height: 15px; /* Hoogte voor de slider */
  border-radius: 5px; /* Afgeronde hoeken voor de slider */
  background: #d3d3d3; /* Achtergrondkleur voor de slider */
  outline: none; /* Geen outline */
  opacity: 0.7; /* Initiële doorzichtigheid voor de slider */
  -webkit-transition: 0.2s; /* Overgangseffect voor de slider */
  transition: opacity 0.2s; /* Overgangseffect voor de slider */
  margin-left: 1%;
  margin-right: 1%;
  padding: 0%;
}

#sliderValue {
  display: flex; /* Flexbox layout voor de slider waarde */
  justify-content: center; /* Centreer inhoud */
}

#button1 {
  background-color: #2c4cffd5; /* Achtergrondkleur voor de vergelijk knop */
  color: white; /* Tekstkleur voor de vergelijk knop */
  border: none; /* Geen rand voor de vergelijk knop */
  align-items: center; /* Center items verticaal */
  border-radius: 10px; /* Afgeronde hoeken voor de vergelijk knop */
  font-size: 16px; /* Lettergrootte voor de vergelijk knop */
  padding-left: 2%; /* Linker padding voor de vergelijk knop */
  padding-right: 2%; /* Rechter padding voor de vergelijk knop */
  cursor: pointer; /* Handcursor bij hover */
  transition: background-color 0.3s; /* Overgangseffect voor achtergrondkleur */
  justify-content: center; /* Center inhoud */
}
@media (max-width: 480px) {
  #logo img {
    height: 70%; /* Afbeelding neemt volledige hoogte van het logo in */
  }

  .dropdown-content {
    min-width: 100px;
    font-size: 10px;
  }
  .productDropdown-content {
    min-width: 100px;
    font-size: 10px;
  }

  #button1 {
    font-size: 70%;
    margin-left: 8%;
    padding: 10%;
  }

  .nutri-score div {
    font-size: 16px;
  }
  #footerboven {
    font-size: 8px;
  }
  #footerbeneden {
    font-size: 8px;
  }
  .dropbtn {
    font-size: 12px;
    padding: 0px;
  }
  .productDropbtn {
    font-size: 12px;
  }
}

h2 {
  margin-bottom: 20px; /* Onder marge voor kopjes */
}

input {
  width: 80%; /* Volledige breedte voor invoervelden */
  padding: 10px; /* Padding voor invoervelden */
  margin: 10px 0; /* Marges voor invoervelden */
  border: 1px solid #ddd; /* Rand voor invoervelden */
  border-radius: 5px; /* Afgeronde hoeken voor invoervelden */
}

button {
  width: 80%; /* Volledige breedte voor knoppen */
  padding: 10px; /* Padding voor knoppen */
  background-color: #007bff; /* Achtergrondkleur voor knoppen */
  border: none; /* Geen rand voor knoppen */
  color: white; /* Tekstkleur voor knoppen */
  font-size: 16px; /* Lettergrootte voor knoppen */
  border-radius: 5px; /* Afgeronde hoeken voor knoppen */
  cursor: pointer; /* Handcursor bij hover */
}

button:hover {
  background-color: #0056b3; /* Achtergrondkleur bij hover voor knoppen */
}

.extra-links {
  margin-top: 10px; /* Bovenmarge voor extra links */
}

.extra-links a {
  display: block; /* Blokweergave voor extra links */
  text-decoration: none; /* Geen onderstreping voor extra links */
  color: #007bff; /* Tekstkleur voor extra links */
  margin-top: 5px; /* Bovenmarge voor extra links */
}

footer {
  background-color: #3fbcff; /* Background color for the footer */
  height: 30px; /* Fixed height for the footer */
  display: flex; /* Flexbox layout for the footer */

  flex-direction: column; /* Column layout for the footer */
}

#footerboven {
  display: flex; /* Flexbox layout for the top part of the footer */
  justify-content: space-between; /* Space between footer links */
  background-color: #3fbcff; /* Background color for the top part of the footer */
}

.footerboven {
  width: 18%; /* Width for footer links */
  margin-left: 1%; /* Left margin for footer links */
  margin-right: 1%; /* Right margin for footer links */
}

#footerbeneden {
  background-color: #3fbcff; /* Background color for the bottom part of the footer */
  display: flex; /* Flexbox layout for the bottom part of the footer */
  justify-content: center; /* Space between footer items */
}
